[Unit]
Description=It's a lightweight, fast and reliable Sendmail milter that implements the Sender Policy Framework
After=network.target

[Service]
User=smfspf
Group=smfspf
Restart=always
RestartSec=1
Type=forking
ExecStart=/usr/bin/smf-spf
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.targe
